<section class="content state-rooms">
  <div class="pricing">
    <div class="single-price" *ngFor="let room of stateRooms; index as i">
      <span>{{ room.meta }}</span>
      <button
        (click)="setActiveRoom(i)"
        mat-flat-button
        [ngClass]="{ active: activeRoomIndex == i }"
      >
        {{
          room.priceBlocks[0].prices[0].fare
            | currency: "USD":"symbol-narrow":"4.0-2"
        }}
        *
      </button>
    </div>
    <button class="book" mat-flat-button [routerLink]="['book']">
      Book Now
    </button>
  </div>
  <br />
  <app-taxes></app-taxes>
</section>
