.itinerary
    background-color: #EBEFF7

    .header
        text-transform: uppercase
        line-height: 40px
        height: 40px
        padding: 0 10px
        background-color: #2B386F
        color: white
    .content
        margin: .5rem
        .iti-info
    
            ul>li
                list-style-type: none
                line-height: 1.5rem
                label
                    color: black
                span
                    font-weight: bold
                    font-size: .85rem
        .iti-lowest-price
            

    
.state-rooms
    background-color: #EBEFF8
    
    .pricing
        margin: 0 .5rem
        padding: 10px
        border: 1px solid #cccccc
        display: flex
        justify-content: center

        .single-price
            display: flex
            flex-direction: column
            margin: 0 20px

            span
                font-size: .66rem
                padding: 5px
                text-transform: uppercase
                text-align: center

        .book
            margin-left: 10px
            background-color: #F8CC76
            text-transform: uppercase
    

.disclaimer
    text-align: center
    font-size: .7rem
