<div class="itinerary">
  <section class="header">16-DAY South America Passage</section>

  <section class="content row">
    <div class="iti-info col m8">
      <div class="row">
        <app-map class="col s12 m6"></app-map>
        <ul class="col s12 m6">
          <li>
            <label>DEPARTURE DATE:</label>
            <span class="departure-date">18 OCT 2018</span>
          </li>
          <li><label>SHIP: </label><span>ms Zaandam</span></li>
          <li><label>DEPARTS: </label><span>San Antonio, Chile</span></li>
          <li><label>ARRIVES: </label><span>Rio de Janeiro, Brazil</span></li>
        </ul>
      </div>
    </div>

    <div class="iti-lowest-price col m4 s12 center-align">
      <p>From</p>
      <h5>US $,1999</h5>
      <p>per person <strong>Interior</strong></p>
      <div class="disclaimer">
        <span><a href="#">*Plus Taxes, Fees, and Port Expenses US$605</a></span>
      </div>
      <br />
      <button mat-flat-button>VIEW ITINERARY</button>
    </div>
  </section>

  <section class="content state-rooms">
    <div class="pricing">
      <div class="single-price">
        <span>INTERIOR</span>
        <button mat-flat-button color="primary">$1,499 *</button>
      </div>
      <div class="single-price">
        <span>OCEAN-VIEW</span> <button mat-flat-button>$1,999 *</button>
      </div>

      <div class="single-price">
        <span>VISTA-SUITE</span> <button mat-flat-button>$1,999 *</button>
      </div>
      <button class="book" mat-flat-button [routerLink]="['book']">
        Book Now
      </button>
    </div>
    <br />
    <div class="disclaimer">
      <span><a href="#">*Plus Taxes, Fees, and Port Expenses US$605</a></span>
    </div>
  </section>
</div>
